<!DOCTYPE html>

<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>

        </title>
    </head>

    <body>
    <nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/tournaments}">Tornei</a>
        <a th:href="@{/teams}">Squadre</a>
        <a th:href="@{/matches}">Partite</a>
        <span th:if="${userDetails}">
                    <span th:text="${userDetails.username}"></span>
                    <span sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/admin/index}">Admin Dashboard</a>
                    </span>
                    <form th:action="@{/logout}" method = "POST">
                        <button type="submit">Logout</button>
                    </form>
                </span>
        <span th:unless="${userDetails}">
                    <a th:href="@{/login}">Login</a>
                    <a th:href="@{/register}">Registrati</a>
                </span>
    </nav>

    <h1>Crea Nuova Squadra</h1>
    <form th:action="@{/admin/teams}" method="POST" th:object="${team}">
        <div>
            Nome: <input type="text" th:field="*{name}"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div>
            Anno fondazione: <input type="text" th:field="*{foundationYear}"/>
        </div>
        <div>
            Città: <input type="text" th:field="*{city}"/>
        </div>
        <button type="submit" name="action" value="save">Conferma</button>
    </form>
    </body>
</html>