<!DOCTYPE html>

<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>

        </title>
    </head>

    <body>
    <nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/tournaments}">Tornei</a>
        <a th:href="@{/teams}">Squadre</a>
        <a th:href="@{/matches}">Partite</a>
        <span th:if="${userDetails}">
                    <span th:text="${userDetails.username}"></span>
                    <span sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/admin/index}">Admin Dashboard</a>
                    </span>
                    <form th:action="@{/logout}" method = "POST">
                        <button type="submit">Logout</button>
                    </form>
                </span>
        <span th:unless="${userDetails}">
                    <a th:href="@{/login}">Login</a>
                    <a th:href="@{/register}">Registrati</a>
                </span>
    </nav>

    <h1>Crea Nuova Squadra</h1>
    <span th:action="@{/admin/teams}" th:object="${team}">
        <div>
            Nome: <span><input type="text" th:field="*{name}"/></span>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <div>
            Anno fondazione: <span><input type="text" th:field="*{foundation_year}"/></span>
            <span th:if="${#fields.hasErrors('foundation_year')}" th:errors="*{foundation_year}"></span>
        </div>

        <div>
            Città: <span><input type="text" th:field="*{city}"/></span>
            <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
        </div>

        <div>
            <span><button type="submit" name="action" value="save">Conferma</button></span>
        </div>
    </span>
    </body>
</html>