<!DOCTYPE html>

<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Squadra</title>
</head>

    <body>
    <nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/tournaments}">Tornei</a>
        <a th:href="@{/teams}">Squadre</a>
        <a th:href="@{/matches}">Partite</a>
        <span th:if="${userDetails}">
                    <span th:text="${userDetails.username}"></span>
                    <span sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/admin/index}">Admin Dashboard</a>
                    </span>
                    <form th:action="@{/logout}" method = "POST">
                        <button type="submit">Logout</button>
                    </form>
                </span>
        <span th:unless="${userDetails}">
                    <a th:href="@{/login}">Login</a>
                    <a th:href="@{/register}">Registrati</a>
                </span>
    </nav>
    <h1 th:text="${team.name}"></h1>
    <p th:text="'Anno fondazione: ' + ${team.foundationYear}"></p>
    <p th:text="'Città: ' + ${team.city}"></p>

    <h2>Giocatori</h2>
    <ul>
        <li th:each="player : ${team.players}"
            th:text="${player.name} + ' ' + ${player.surname} + ' - ' + ${player.role}">
        </li>
    </ul>

    </body>
</html>